html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  font-family: 'Lato', 'Rubik', sans-serif;
  color: #1A212F;
  background-color: white;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  width: 206px;
  height: 50px;
  padding-left: 30px;
  padding-right: 63px;

  font-size: 16px;
  vertical-align: middle;
  line-height: 19px;

  border-radius: 30px;
  border: none;
}

.btn::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 7px;
  right: 7px;
  background-image: url(../img/main-head-paw.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
