.rooms {
	margin-bottom: 140px;

	&__wrapper {
		position: relative;
		height: 578px;
	}

	&__item {
		display: flex;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 1;
		transition: opacity 1s;

		&__title {
			padding-bottom: 30px;

			font-weight: 500;
			font-size: 22px;

			align-items: center;
		}

		&__text {
			padding-bottom: 30px;

			list-style: none;
			font-family: Lato;
			line-height: 140%;
		}
		&__list {
			position: relative;
			padding-left: 20px;

			line-height: 26px;
			&::before {
				position: absolute;
				content: "";
				width: 13px;
				height: 13px;
				top: 6px;
				left: 0px;
				background-image: url("../../img/rooms-ell-list.svg");
				background-repeat: no-repeat;
			}	
		}
	}
	&__title {
		text-align: center;
		font-family: Rubik;
		font-size: 36px;
		line-height: 43px;
		align-items: center;
	}
	&__image {}
	&__info {
		position: absolute;
		content: "";
		top: 60px;
		left: 530px;
		width: 500px;
		height: 284px;
		padding-top: 40px;
		padding-left: 100px;
		padding-bottom: 40px;

		background: #FFFFFF;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
		border-radius: 8px;
	}
	&__btn {
		position: relative;
		background: #FF7236;
		color: #FFFEFD;
		&::after {
			position: absolute;
			content: "";
			width: 36px;
			height: 36px;
			top: 7px;
			right: 7px;
			background-image: url(../../img/rooms-paw.svg);
			filter: invert(0%);
		}
	}
}

#slides {
}

.showing {
	opacity: 1;
	z-index: 2;
}

.btn {
}

.controls {
	position: relative;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.previous::after {
	position: absolute;
	content: "";
	bottom: 100px;
	right: 100px;
	width: 36px;
	height: 36px;
	background-image: url(../../img/btn.svg);
}
// кнопки надо доделать!