.header {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1A212F;
}

.header__wrapper {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 98px;
}

.header__logo {
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__item {
  padding-left: 30px;
}